---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name='robots' content='nofollow, noindex' />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
	}
	.dark {
		--color: #ffffff;
		--background-color: #0D0D0D;
		color-scheme: dark;
	}
	.light {
		--color: #000000;
		--background-color: #ffffff;
		color-scheme: light;
	}
	@media(prefers-color-scheme: dark) {
		:root:not(.light):not(.dark) {
			--color: #ffffff;
			--background-color: #0D0D0D;
			color-scheme: dark;
		}
	}
	@media(prefers-color-scheme: light) {
		:root:not(.light):not(.dark) {
			--color: #000000;
			--background-color: #ffffff;
			color-scheme: light;
		}
	}
</style>
